{% extends "bootstrap/base.html" %}

{% block title %}唤醒模型测试网站{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="../../static/css/blueimp-gallery.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fileupload.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fileupload-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div style="float: left" class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for("index") }}">主页</a>
        </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for("plot.plot_index",info='$') }}">返回上一页</a></li>
            </ul>
        <div class="navbar-collapse collapse">
        </div>
    </div>
     <div style="width: 100px;height: 50px;float: right;text-align: center;position: relative">
        <a href="{{ url_for('login.logout') }}" style="font-size: 20px;position: absolute;top: 10px;color: white">Logout  &ensp;&ensp;</a>&ensp;&ensp;&ensp;&ensp;&ensp;
    </div>
</div>
{% endblock %}
{% block content %}
    {% block page_content %}{% endblock %}
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}
